.root {
  position: absolute;
  left: 735px;
  top: 49px;
  width: 258px;
  height: 265px;
  flex-direction: column;
  align-items: flex-start;
}
.image1 {
  width: 258px;
  height: 265px;
  border-radius: 32px;
  background-image:/* webpackIgnore: true */ url('assets/image1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
